:root
{
    /*------background colors------*/
    --orange: #ff9900;
    --dark-orange: #ff4000;
    --white: #ffffff;
    --black: #000000;
    --black-blue: #141a22;
    --purple-blue: #1C0E42;

    /*------font size------*/
    --large: 1.8rem;
    --medium: 1.5rem;
    --small: 1.1rem;
}

/*------LAYOUT------*/
.aside-layout
{
    display: flex;
    flex-direction: row-reverse;
}

/*------MAIN------*/
main
{
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

/*------articles------*/

main > h1
{
    margin-top: 40px;
    font-size: var(--large);
}

article
{
    clear: both;
}

.game-article > img
{
    height: 250px;
    margin: 20px;
}

.game-img--rigth
{
    float: right;
}

.game-img--left
{
    float: left;
}

.game-article > h2
{
    margin: 10px;
    margin-top: 30px;
    font-size: var(--medium);
}

.game-article
{
    font-size: var(--small);
}

.game-article__paragraph
{
    padding-left: 20px;
}

.game-article__paragraph > strong
{
    color: var(--dark-orange);
}

.game-article > img 
{
    max-height: 250px;
}

/*------ASIDE------*/
aside
{
    margin: 30px;
    position: sticky;
    top: 10vh; 
    height: 450px;
}

aside  a > img
{
    height: 100%;
}