:root
{
    /*------background colors------*/
    --orange: #ff9900;
    --dark-orange: #ff4000;
    --white: #ffffff;
    --black: #000000;
    --black-blue: #141a22;
    --purple-blue: #1C0E42;

    /*------font size------*/
    --large: 1.8rem;
    --medium: 1.3rem;
    --small: 1.1rem;
}

/*------BODY------*/
body
{
    font-family: Arial, Helvetica, sans-serif;
}

/*------HEADER------*/
#HeaderPag
{
    font-family: inter;
    background-color: var(--dark-orange);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

#HeaderPag > section
{
    display: flex;
    align-items: center;
    gap: 20px; 
    color: var(--white);
    font-size: var(--medium);
}

#HeaderPag > section img
{
    height: 70px;
}

#Nav__list
{
    list-style: none;
    display: flex;
    gap: 80px;
}

#Nav__list a
{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}

#Nav__list a:hover
{
    color: var(--black-blue);
    font-size: 1.4rem;
}

/*------MAIN------*/

/*------artigos------*/
.article-background
{
    background-color: #141a22;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info-articles
{
    max-width: 1000px;
    margin: auto;
}

.info-articles--margin
{
    margin-top: 50px;   
    margin-bottom: 50px;
}

.info-articles > h1
{
    margin: 10px;
    font-size: var(--large);
}

.info-articles__topic > h2
{
    margin: 15px;
    font-size: var(--medium);
}

.info-articles > div
{
    width: 500px;
    margin: 1em auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
    
.info-articles > div > video
{
    width: 500px; 
    height: 300px;
}

.info-articles__topic > img
{
    height: 300px;
    float: left;
    padding: 20px;
}

.topic__paragraph
{
    font-size: var(--small);
    padding-left: 20px;
}

#first-topic::first-letter
{
    font-size: 70px;
    float: left;
    padding-right: 10px;
}

.topic__paragraph > strong
{
    color: var(--dark-orange);
}

#topic__list
{
    font-size: var(--small);
    padding-left: 30px;
    padding-right: 30px;
}
    
#topic__list > li 
{
    margin: 30px;
    list-style: decimal;
}

#topic__list > li > strong 
{
    color: var(--dark-orange);
}

.jogos__img
{
    height: 100px;
}

/*------quiz------*/
#form-box
{
    background-color: var(--purple-blue);
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

form
{
    max-width: 800px;
    margin: auto;
    color: var(--white);
    font-size: var(--small);
}

fieldset
{
    border: 3px solid var(--dark-orange);
    padding: 35px;
}

legend
{
    background-color: var(--dark-orange);
    width: 30%;
    text-align: center;
    padding: 10px 15px;
    font-size: var(--large);
    border-radius: 10px;
}

.quiz-quest
{
    margin-top: 5px;
}


/*------FOOTER------*/
footer
{
    background-color: var(--purple-blue);
    height: 100px;
}