body
{
    display: grid;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: darkslategray;
    height: 70px;
}

header>nav>ul {
    list-style: none;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4em;
}

header>nav>ul>li>a
{
    color: white;
    text-decoration: none;
    
}

header>nav {
    gap: 4em;
    text-align: center;
    margin: auto;
}

main
{
    width: 80%;
    background-color: blue;
}

footer
{
    width: 100%;
    background-color: blueviolet;
}

